/*css reset*/

*{
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100vw;
}

#wrapper {
  width: 100vw;
  min-height:100%;
  position: relative;
  font-family: sans-serif;
}

a:hover {
  text-decoration: underline; /*lehet hogy ezt átrakom hátra*/
}
/*header*/

#header-top {
  position: absolute;
  display: block;
  right: 20px;
  top: 10px;
  font-size: 12px;
  line-height: 19px;
  margin-left: 180px;
}
.header-top-list {
  display: inline;
  margin: auto 3px;
}
.header-top-link {
  text-decoration: none;
  color: #0645ad;
}
.header-top-link:visited {
  color: #0b0080;
}
#header-top-small {
  color: #797979;
}

/* header bottom*/


.header-button {
  background: linear-gradient(white, rgba(167,215,249,.4));
  border: none;
  color:  #0645ad;
  border-left: 1px solid rgba(167,215,249,1);
  border-right: 1px solid rgba(167,215,249,1);
}
.header-button:active {
  color: black;
  background-color: white;
}
.header-button:hover {
  text-decoration: underline;
}

#left-button {
  position: absolute;
  top: 84px;
  left: 180px;
}
#right-button {
  position: absolute;
  top: 84px;
  right: 28vw;
}
#search-wiki {
  position: absolute;
  top: 80px;
  right: 20px;
  width: 25vw;
}
#search-wiki-ikon {
  position: absolute;
  right: 20px;
  top: 82px;
}


/*aside cover*/

#aside-cover {
  position: absolute;
  display: block;
  left: 10px;
  top: 10px;
  width: 160px;
  height: auto;
  font-size: 12px;
  line-height: 19px;
}

#aside {
  margin-left: 15px;
}
#logo {
  width: 150px;
  height: 150px;
  background-image: url('https://www.famouslogos.net/images/wikipedia-logo.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 20px;
  margin-top: 10px;
}

.aside-h5 {
  margin-top: 13px;
}
.aside-hr {
  margin-top: 0px;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  color: #797979;
}

.aside-link {
  text-decoration: none;
  color: #0645ad;
}
.aside-link:visited {
  color: #0b0080;
}
#edit {
  text-align: right;
  padding-right: 10px;
}
#edit-link {
  text-decoration: none;
  color: #797979;
}
#edit-link:hover {
  text-decoration: underline;
}

.language-settings {
  float: right;
  color: #797979;
  font-size: 14px;
}

/*article*/

#article {
  position: absolute;
  display: block;
  left: 180px;
  top: 100px;
  border: 1px solid #A7D7F9;
  padding: 25px;
  line-height: 22px;
  margin-right: 20px;
}
.article-links {
  color: #0645ad;
  text-decoration: none;
}
.article-links:hover {
  text-decoration: underline;
}
.article-links:visited {
  color: #0b0080;
}
#content-h3 {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}
.content-hr {
  margin: 0;
}
.content-p {
  margin-top: 5px;
}


/*img-big*/

#img-big {
  border: 1px solid #a2a9b1;
  float: right;
  margin-left: 10px;
  margin-bottom: 10px;
  padding: 15px 25px;
}

#img-big-h3 {
  font-size: 14px;
  font-weight: bold;
  font-style: italic;
}

#img-big-figcaption {
  text-align: center;
  font-size: 12px;
}

#img-big-table{
  position: relative;
  right: 15px;
  font-size: 13px;
}
td {
  padding-right: 6px
}

.table-link {
  text-decoration: none;
  color: #0645ad;
}
.table-link:hover {
  text-decoration: underline;
}
.table-link:visited {
  color: #0b0080;
}

/*contents list*/

#content-list {
  border: 1px solid #a2a9b1;
  font-size: 13px;
  max-width: 140px;
  padding: 10px 10px;
  margin-top: 5px;
}

#content-list-p {
  text-align: center;
  font-weight: bold;
}

.control-link {
  text-decoration: none;
  color: #0645ad;
  font-weight: 100;
  font-size: 13px;
  margin-left: 5px;
}
#content-hide-a:hover {
  text-decoration: underline;
}
.content-list-a {
  text-decoration: none;
  color: #0645ad;
}
.content-list-a:visited, #content-hide-a:visited {
  color: #0b0080;
} 
.content-list-a>span {
  padding-right: 10px;
}
#content-list-a-span {
  padding-left: 10px;
}

/*main title*/

#main-title {
  margin-bottom: 20px;
}
#title {
  font-size: 28px;
  font-style: italic;/*a linux libertine fontkészletet sehogy sem találtam belinkelhető formában*/
}
#title-small {
  font-size: 12px;
}
#title-p {
  font-size: 14px;
}
#title-strong {
  font-weight: bold;
  font-style: italic;
}
.content {
  font-size: 14px;
}

/*story*/

.content-h2 {
  font-size: 20px;
  margin-top: 20px;
}

/*gameplay*/

#gameplay-img-cover {
  border: 1px solid #a2a9b1;
  width: 195px;
  padding: 5px;
  float: left;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
}
#gameplay-figcaption {
  font-size: 12px;
}
#enlarge {
  float: right;
  margin: 5px;
}
#enlarge-a {
  color: #797979;
}

/*references*/

.references-list-li {
  list-style-type: decimal;
  font-size: 13px;
  line-height: 16px;
}
#references-list-ol {
  margin: 5px 0 0 20px;
}

/*external links*/

.external-link-list-li {
  list-style-type: square;
}
.list-ol {
  margin: 5px 0 0 20px
}
.external-link-em {
  font-style: italic;
}

/*categories*/

#categories {
  border: 1px solid #797979;
  font-size: 14px;
  color: #797979;
  margin-top: 20px;
  padding: 10px 0 10px 5px;
}

/*footer*/

#footer {
  position: absolute;
  padding: 25px 25px 0 0;
  width: 100%;
  font-size: 11px;
}
.footer-small {
  display: block;
  padding: 10px 0;
}
#footer-list {
  display: inline;
}
.footer-list-li {
  display: inline;
  margin-right: 15px;
}
.footer-button {
  height: 31px;
  width: 88px;
  display: inline;
}


























#footer-button-list {
  float: right;
  display: inline;
  margin-right: 20px;
}

.sup-link {
  vertical-align: super;
  font-size: 10px;
}

#references-list-wrapper {
  margin-left: 15px;
}
